header {
  text-align: center;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #cc5500;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #00aaff; /* Light blue hover effect */
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
}
